<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ================ clinicMapper.xml ============================== -->

<mapper namespace="kr.or.nextit.clinic.service.impl.ClinicMapper">

	<!-- TB_CLINIC 모든 컬럼 -->
	<sql id="tableAllColumn">
		cln_code ,
		pat_code ,
		emp_id ,
		cln_date ,
		cln_descr
	</sql>
	

	<!-- WHERE문 트림 (search 사용시) -->
	<sql id="whereQueryTrimIf">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="searchText != null and searchText != ''">
				AND ${searchType} LIKE '%' || #{searchText} || '%'
			</if>
		</trim>
	</sql>
	
	
	<!-- SELECT / INSERT / UPDATE -->
	<select id="selectClinicList" parameterType="kr.or.nextit.comm.util.SearchVo" resultType="kr.or.nextit.comm.model.ClinicVo">
		SELECT
			*
		FROM (
			SELECT
				ROWNUM AS rnum ,
				frm.*
			FROM (
				SELECT
					aa.cln_code ,
					aa.pat_code ,
					aa.emp_id ,
					TO_CHAR(aa.cln_date,'yyyy/mm/dd hh24:mi') AS cln_date ,
					aa.cln_descr ,
					bb.pat_name ,
					yy.emp_name
				FROM 
					tb_clinic aa
					INNER JOIN tb_patient bb ON aa.pat_code = bb.pat_code
					INNER JOIN tb_employee yy ON aa.emp_id = yy.emp_id
				<include refid="whereQueryTrimIf" />
				ORDER BY cln_date DESC
			) frm
	    )
	    WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>

	<select id="selectClinicItem" parameterType="HashMap" resultType="kr.or.nextit.comm.model.ClinicVo">
		SELECT
			cln_code ,
			pat_code ,
			emp_id ,
			TO_CHAR(cln_date,'yyyy/mm/dd hh24:mi') AS cln_date ,
			cln_descr
		FROM
			tb_clinic
		WHERE
			cln_code = #{clnCode}
	</select>

	<select id="selectTotalCount" parameterType="kr.or.nextit.comm.util.SearchVo" resultType="int">
		SELECT
			COUNT(*) AS total_count
		FROM (
			SELECT
				aa.cln_code
			FROM 
				tb_clinic aa
				INNER JOIN tb_patient bb ON aa.pat_code = bb.pat_code
				INNER JOIN tb_employee yy ON aa.emp_id = yy.emp_id
			<include refid="whereQueryTrimIf" />
		)
	</select>

	<select id="selectClinicLastItemCode" resultType="String">
		SELECT
			cln_code
		FROM (
			SELECT
				cln_code,
				cln_date,
				MAX( cln_date ) OVER() AS last_date
			FROM
				tb_clinic a
			)
		WHERE
			cln_date = last_date
			
	</select>

	<insert id="insertClinic" parameterType="HashMap">
		INSERT INTO tb_clinic (
			<include refid="tableAllColumn" />
		) VALUES (
			'C' || LPAD(seq_clinic.NEXTVAL, 5, '0') ,
			#{patCode} ,
			#{empId} ,
			SYSDATE ,
			#{clnDescr}
		)
	</insert>
</mapper>