<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ================ employeeMapper.xml ============================== -->

<mapper namespace="kr.or.nextit.employee.service.impl.EmployeeMapper">

	<!-- TB_EMPLOYEE 모든 컬럼 -->
	<sql id="tableAllColumn">
	    emp_id		 ,
	    emp_pwd 	 ,
	    emp_name	 ,
	    emp_phone 	 ,
	    emp_rrnum    ,
	    emp_address  ,
	    emp_div 	 ,
	    emp_salary 	 ,
	    TO_CHAR(emp_hiredate,'yyyy/mm/dd') AS emp_hiredate,
	    TO_CHAR(emp_retiredate,'yyyy/mm/dd') AS emp_retiredate
	</sql>
	

	<!-- WHERE문 트림 (search 사용시) -->
	<sql id="whereQueryTrimIf">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="searchText != null and searchText != ''">
				AND ${searchType} LIKE '%' || #{searchText} || '%'
			</if>
		</trim>
	</sql>
	
	
	<!-- SELECT / INSERT / UPDATE -->
<!-- 	<select id="selectEmployeeList" resultType="kr.or.nextit.comm.model.EmployeeVo">
		SELECT
			<include refid="tableAllColumn" />
		FROM
			tb_employee
	</select>
 -->
 
	<select id="selectEmployeeList" parameterType="kr.or.nextit.comm.util.SearchVo" resultType="kr.or.nextit.comm.model.EmployeeVo">
		SELECT *
		FROM (
			SELECT ROWNUM AS rnum , frm.*
			FROM (
				SELECT <include refid="tableAllColumn" />
				FROM tb_employee
				<include refid="whereQueryTrimIf" />
				ORDER BY emp_id DESC
			) frm
	    )
	    WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
 
	<select id="selectEmployeeItem" parameterType="HashMap" resultType="kr.or.nextit.comm.model.EmployeeVo">
		SELECT
		    emp_id		 ,
		    emp_pwd		 ,
		    emp_name	 ,
		    emp_phone 	 ,
		    emp_rrnum    ,
		    emp_address  ,
		    emp_div 	 ,
		    emp_salary 	 ,
		    TO_CHAR(emp_hiredate,'yyyy/mm/dd') AS emp_hiredate,
		    TO_CHAR(emp_retiredate,'yyyy/mm/dd') AS emp_retiredate
		FROM
			tb_employee
		WHERE
			emp_id = #{empId}
	</select>

	<insert id="insertEmployee" parameterType="kr.or.nextit.comm.model.EmployeeVo">
		INSERT INTO tb_employee (
			emp_id,
			emp_pwd,
			emp_name,
			emp_phone,
			emp_rrnum,
			emp_address,
			emp_div,
			emp_hiredate
		) VALUES (
			#{empId},
			#{empPwd},
			#{empName},
			#{empPhone},
			#{empRrnum},
			#{empAddress},
			#{empDiv},
			SYSDATE
		)
	</insert>
		
	<update id="updateEmployee" parameterType="kr.or.nextit.comm.model.EmployeeVo">
		UPDATE
			tb_employee
		SET
			emp_pwd = #{empPwd} ,
			emp_name = #{empName} ,
			emp_phone = #{empPhone} ,
			emp_rrnum = #{empRrnum} ,
			emp_address = #{empAddress} ,
			emp_salary = #{empSalary} ,
			emp_div = #{empDiv}
		WHERE
			emp_id = #{empId}
	</update>

	<update id="updateRetireEmployee" parameterType="kr.or.nextit.comm.model.EmployeeVo">
		UPDATE
			tb_employee
		SET
			emp_retiredate = SYSDATE
		WHERE
			emp_id = #{empId}
	</update>

</mapper>