<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ================ employeeMapper.xml ============================== -->

<mapper namespace="kr.or.nextit.employee.service.impl.EmployeeMapper">

	<!-- TB_EMPLOYEE 모든 컬럼 -->
	<sql id="tableAllColumn">
	    emp_id,
	    emp_pwd,
	    emp_name,
	    emp_phone,
	    emp_rrnum,
	    emp_address,
	    emp_div,
	    emp_salary,
	    emp_hiredate,
	    emp_retiredate
	</sql>
	

	<!-- WHERE문 트림 (search 사용시) -->
	<sql id="whereQueryTrimIf">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="searchText != null and searchText != ''">
				AND ${searchType} LIKE CONCAT('%', #{searchText}, '%')
			</if>
		</trim>
	</sql>


	<insert id="insertEmployee" parameterType="kr.or.nextit.comm.model.EmployeeVo">
		INSERT INTO tb_employee (
			emp_id,
			emp_pwd,
			emp_name,
			emp_phone,
			emp_rrnum,
			emp_address,
			emp_div,
			emp_hiredate
		) VALUES (
			#{empId},
			#{empPwd},
			#{empName},
			#{empPhone},
			#{empRrnum},
			#{empAddress},
			#{empDiv},
			SYSDATE
		)
	</insert>

</mapper>