<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.nextit.notice.service.impl.NoticeMapper">
	
	<!-- TB_NOTICE 모든 컬럼 -->
	<sql id="tableAllColumn">
		ntc_idx ,
		ntc_title ,
		emp_id ,
		ntc_content ,
		TO_CHAR(ntc_regdate,'yyyy/mm/dd hh24:mi') AS ntc_regdate ,
		TO_CHAR(ntc_update,'yyyy/mm/dd hh24:mi') AS ntc_update ,
		ntc_count ,
		ntc_delat
	</sql>
	
	<!-- WHERE문 트림 (search 사용시) -->
	<sql id="whereQueryTrimIf">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			ntc_delat = 'F'
			<if test="searchText != null and searchText != ''">
				AND ${searchType} LIKE '%' || #{searchText} || '%'
			</if>
		</trim>
	</sql>
	

	<!-- =================================== -->
	<!-- SELECT / INSERT / UPDATE -->
	<!-- =================================== -->
	<insert id="insertNotice" parameterType="kr.or.nextit.comm.model.NoticeVo">
		INSERT INTO tb_notice (
			ntc_idx ,
			ntc_title ,
			emp_id ,
			ntc_content ,
			ntc_regdate
		) VALUES (
			seq_notice.NEXTVAL ,
			#{ntcTitle} ,
			#{empId} ,
			#{ntcContent} ,
			SYSDATE
		)
	</insert>

	<select id="selectNoticeList" parameterType="kr.or.nextit.comm.util.SearchVo" resultType="kr.or.nextit.comm.model.NoticeVo">
		SELECT *
		FROM (
			SELECT ROWNUM AS rnum , frm.*
			FROM (
				SELECT
					<include refid="tableAllColumn" />
				FROM tb_notice
				<include refid="whereQueryTrimIf" />
				ORDER BY ntc_idx DESC
			) frm
	    )
	    WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="selectTotalCount" parameterType="kr.or.nextit.comm.util.SearchVo" resultType="int">
		SELECT
			COUNT(*) AS total_count
		FROM
			tb_notice
		<include refid="whereQueryTrimIf" />
	</select>
	
	<select id="selectNoticeItem" parameterType="HashMap" resultType="kr.or.nextit.comm.model.NoticeVo">
		 SELECT
		    a.ntc_idx,
		    a.ntc_title,
		    a.emp_id,
		    b.EMP_NAME,
		    b.EMP_DIV,
		    a.ntc_content,
		    a.ntc_count,
			TO_CHAR(ntc_regdate,'yyyy/mm/dd hh24:mi') AS ntc_regdate ,
			TO_CHAR(ntc_update,'yyyy/mm/dd hh24:mi') AS ntc_update ,
		    a.ntc_delat    
	  FROM
		    tb_notice a ,
		    tb_employee b
	  WHERE a.emp_id = b.emp_id 
		AND	ntc_idx = #{ntcIdx}
	</select>
	
	<update id="updateViewCount" parameterType="String">
		UPDATE
			tb_notice
		SET
			ntc_count = ntc_count + 1
		WHERE ntc_idx = #{ntcIdx}
	</update>
	
	<update id="updateNotice" parameterType="kr.or.nextit.comm.model.NoticeVo">
		UPDATE
			tb_notice
		SET
			ntc_title = #{ntcTitle},
			ntc_content = #{ntcContent},
			ntc_update = sysdate
		WHERE
			ntc_idx = #{ntcIdx}
	</update>
	
	<update id="updateDelNotice"  parameterType="kr.or.nextit.comm.model.NoticeVo">
		UPDATE tb_notice
		SET ntc_delat = 'T',
		    ntc_update = sysdate
		WHERE ntc_idx = #{ntcIdx}
	</update>
	
</mapper>