<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- // 환자 매퍼 -->
<mapper namespace="kr.or.nextit.patient.service.impl.PatientMapper">

	<!-- WHERE문 트림 (search 사용시) -->
	<sql id="whereQueryTrimIf">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="searchText != null and searchText != ''">
				AND ${searchType} LIKE '%' || #{searchText} || '%'
			</if>
		</trim>
	</sql>


	<!-- =================================== -->
	<!-- SELECT / INSERT / UPDATE -->
	<!-- =================================== -->
	<!-- 환자등록 -->
	<insert id="insertPatient" parameterType="kr.or.nextit.comm.model.PatientVo">
		INSERT INTO tb_patient (
			pat_code ,
			ins_code ,
			pat_name ,
			pat_phone ,
			pat_rrnum ,
			pat_gender ,
			pat_address ,
			pat_disease ,
			pat_firstdate ,
			pat_memo ,
			emp_id
		) VALUES (
			'P' || LPAD(seq_patient.NEXTVAL, 5, '0') ,
			#{insCode} ,
			#{patName} ,
			#{patPhone} ,
			#{patRrnum} ,
			#{patGender} ,
			#{patAddress} ,
			#{patDisease} ,
			SYSDATE ,
			#{patMemo} ,
			#{empId}
		)
	</insert>

	<!-- 환자 리스트 -->
	<select id="selectPatientList" parameterType="kr.or.nextit.comm.util.SearchVo" resultType="kr.or.nextit.comm.model.PatientVo" >
		SELECT
			*
		FROM (
			SELECT
				ROWNUM AS rnum ,
				frm.*
			FROM (
				SELECT
					pat_code,
					ins_code,
					pat_name,
					pat_phone,
					pat_rrnum,
					pat_gender,
					pat_address,
					pat_disease,
				    TO_CHAR(pat_firstdate,'yyyy/mm/dd') AS pat_firstdate,
				    TO_CHAR(pat_redate,'yyyy/mm/dd') AS pat_redate,
					pat_memo,
					emp_id
				FROM
					tb_patient
	   			<include refid="whereQueryTrimIf" />	
	    		ORDER BY
	    			pat_firstdate DESC
			) frm
	    ) WHERE
	    	rnum BETWEEN #{startRow} AND #{endRow}
	</select>

	<!-- 환자 상세보기 -->
	<select id="selectPatientView" resultType="kr.or.nextit.comm.model.PatientVo" parameterType="kr.or.nextit.comm.model.PatientVo">
		SELECT
			pat_code,
			ins_code,
			pat_name,
			pat_phone,
			pat_rrnum,
			pat_gender,
			pat_address,
			pat_disease,
		    TO_CHAR(pat_firstdate,'yyyy/mm/dd hh:mi') AS pat_firstdate,
		    TO_CHAR(pat_redate,'yyyy/mm/dd hh:mi') AS pat_redate,
			pat_memo,
			emp_id
		FROM
			tb_patient
		WHERE
			pat_code = #{patCode}
	</select>
	
	<!-- 환자 검색  -->
	<select id="selectTotalCount" parameterType="kr.or.nextit.comm.util.SearchVo" resultType="int">			  
		 SELECT
		    COUNT(*) AS totalCount
		 FROM
		    tb_patient 
	    <include refid="whereQueryTrimIf" />	
	</select>
	
	<!-- 환자 수정  -->
	<update id="updatePatient" parameterType="kr.or.nextit.comm.model.PatientVo">
		UPDATE
			tb_patient
		SET
		     pat_name = #{patName},
		     emp_id = #{empId},
		     pat_rrnum = #{patRrnum},
		     pat_address = #{patAddress},
		     pat_phone = #{patPhone},
		     pat_disease = #{patDisease},
		     pat_memo = #{patMemo}
		WHERE
		    pat_code = #{patCode}
	</update>

</mapper>
