<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- // 환자 매퍼 -->
<mapper namespace="kr.or.nextit.patient.service.impl.PatientMapper">

	<!-- 환자등록 -->
	<insert id="patientInsert" parameterType="kr.or.nextit.comm.model.PatientVo">

		INSERT INTO tb_patient (
			pat_code,
			pat_inscode,
			pat_name,
			pat_phone,
			pat_rrnum,
			pat_gender,
			pat_address,
			pat_disease,
			pat_firstdate,
			pat_redate,
			pat_memo,
			emp_id
		) VALUES (
			#{patCode},
			#{patInscode},
			#{patName},
			#{patPhone},
			#{patRrnum},
			#{patGender},
			#{patAddress},
			#{patDisease},
			#{patFirstdate},
			#{patRedate},
			#{patMemo},
			#{empId}
		)

	</insert>

	<sql id="whereQuery">
		<if test="searchText != null and searchText != ''">
			<if test="searchType == 'sel1'">
				AND pat_name = #{searchText}
			</if>
			<if test="searchType == 'sel2'">
				AND pat_code = #{searchText}
			</if>
			<if test="searchType == 'sel3'">
				AND pat_inscode = #{searchText}
			</if>
			<if test="searchType == 'sel4'">
				AND pat_phone = #{searchText}
			</if>
		</if>
	</sql>



	<!-- 환자 리스트 -->
	<select id="patientSelectList" parameterType="kr.or.nextit.comm.util.PatientSearchVo" resultType="kr.or.nextit.comm.model.PatientVo" >
			SELECT * FROM (
			    SELECT ROWNUM AS rnum , frm.* from (
					SELECT
						pat_code,
						pat_inscode,
						pat_name,
						pat_phone,
						pat_rrnum,
						pat_gender,
						pat_address,
						pat_disease,
						pat_firstdate,
						pat_redate,
						pat_memo,
						emp_id
					FROM
						tb_patient
		    		WHERE 1=1 	    		 
		    			<include refid="whereQuery"></include>
		    		ORDER BY pat_code DESC
				) frm 
		    ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 환자 검색  -->
	<select id="selectTotalCount" parameterType="kr.or.nextit.comm.util.PatientSearchVo" 
							      resultType="int">			  
		 SELECT
		    COUNT(*) AS totalCount
		 FROM
		    tb_patient
		    WHERE 1=1 	    		 
	    		<include refid="whereQuery"></include>	
	</select>


	<!-- 환자 상세보기 -->
	<select id="patientSelectView"
		resultType="kr.or.nextit.comm.model.PatientVo"
		parameterType="kr.or.nextit.comm.model.PatientVo">

		SELECT
			pat_code,
			pat_inscode,
			pat_name,
			pat_phone,
			pat_rrnum,
			pat_gender,
			pat_address,
			pat_disease,
			pat_firstdate,
			pat_redate,
			pat_memo,
			emp_id
		FROM
			tb_patient
		WHERE pat_code = #{patCode}

	</select>
	
	
	
	
	<!-- 환자 수정  -->
	<update id="patientUpdate"
		parameterType="kr.or.nextit.comm.model.PatientVo">
			 
		UPDATE
			tb_patient
		SET
		     pat_name = #{patName},
		     emp_id = #{empId},
		     pat_rrnum = #{patRrnum},
		     pat_address = #{patAddress},
		     pat_phone = #{patPhone},
		     pat_disease = #{patDisease},
		     pat_memo = #{patMemo}
		WHERE
		    pat_code = #{patCode}


	</update>

</mapper>




























