<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- // 처방 매퍼 -->
<mapper
	namespace="kr.or.nextit.patient.service.impl.PrescriptionMapper">


	<!-- 처방폼 화면  -->
	<select id="prescriptionSelect" parameterType="kr.or.nextit.comm.model.PrescriptionVo"
							   resultType="kr.or.nextit.comm.model.PrescriptionVo">

		 SELECT
		    prs_code,
		    cln_code,
		    prs_descr,
		    med_code,
		    med_code2,
		    med_code3
		FROM
		    tb_prescription

	</select>
	



	<select id="selectClinicItem" parameterType="HashMap" resultType="kr.or.nextit.comm.model.ClinicVo">
	
		SELECT
			cln_code ,
			pat_code ,
			emp_id ,
			cln_date ,
			cln_descr
		FROM
			tb_clinic
		WHERE
			cln_code=#{clnCode}
			
	</select>









</mapper>




























