<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- // 처방 매퍼 -->
<mapper
	namespace="kr.or.nextit.prescription.service.impl.PrescriptionMapper">


	<!-- 처방폼 화면  -->
	<select id="prescriptionSelect" parameterType="kr.or.nextit.comm.model.PrescriptionVo"
							   resultType="kr.or.nextit.comm.model.PrescriptionVo">

		 SELECT
		    prs_code,
		    cln_code,
		    prs_descr,
		    med_code,
		    med_code2,
		    med_code3
		FROM
		    tb_prescription

	</select>

	<!-- 진료테이블에서 진료코드로 가져오기  -->
	<select id="selectClinicItem" parameterType="HashMap" resultType="kr.or.nextit.comm.model.ClinicVo">
	
		SELECT
			cln_code ,
			pat_code ,
			emp_id ,
			cln_date ,
			cln_descr
		FROM
			tb_clinic
		WHERE
			cln_code=#{clnCode}
			
	</select>
	
	
	
	<!-- 처방등록   -->
	<insert id="insertPrescription" parameterType="kr.or.nextit.comm.model.PrescriptionVo" >

		 INSERT INTO tb_prescription (
		    prs_code,
		    cln_code,
		    prs_descr,
		    med_code,
		    med_code2,
		    med_code3
		 ) VALUES (
		    #{prsCode},
		    #{clnCode},
		    #{prsDescr},
		    #{medCode},
		    #{medCode2},
		    #{medCode3}
		)
	
	</insert>
	
	
	
	<!-- 처방 수정 -->
	<!-- <update id="updatePrescription" parameterType="kr.or.nextit.comm.model.PrescriptionVo" >
		 
		 UPDATE tb_prescription
			SET
				prs_code =#{prsCode},
			    AND cln_code =#{clnCode},
			    AND prs_descr =#{prsDescr},
			    AND med_code =#{medCode},
			    AND med_code2 =#{medCode2},
			    AND med_code3 =#{medCode3}
			WHERE
				prs_code =#{prsCode}
	</update> -->









</mapper>




























