<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ============ sessionMapper.xml =================================================== -->
<mapper namespace="kr.or.nextit.session.service.impl.SessionMapper">

	<!-- // !!!로그인 select : sol) using join -->
	<select id="loginCheck" resultType="kr.or.nextit.comm.model.EmployeeVo"  parameterType="HashMap">
		SELECT
			aa.emp_id,
			aa.emp_name,
			aa.emp_div,
			bb.emp_divname
		FROM
			tb_employee aa LEFT JOIN tb_emp_divname bb ON aa.emp_div = bb.emp_div
		WHERE
			emp_id = #{empId} AND
			emp_pwd =  #{empPwd}
	</select>

	<!-- // !!!로그인 select : sol02) -->
	<!--
	<select id="loginCheck" resultType="kr.or.nextit.comm.model.EmployeeVo"  parameterType="HashMap">
		SELECT
			emp_id   ,
			emp_pwd  ,
		    emp_name ,
		    emp_div
		FROM
			tb_employee
		WHERE
			emp_id = #{empId} AND
			emp_pwd =  #{empPwd}
	</select>
  	-->
  	
  	<insert id="insertLoginDate" parameterType="kr.or.nextit.comm.model.EmployeeVo">
	  	INSERT INTO
	  		tb_login_info (
	  			log_idx			,
	  			emp_id			,
	  			log_logindate
	  		) VALUES (
	  			seq_logininfo.nextval ,
	  			#{empId} 			  ,
	  			SYSDATE
	  		)
  	</insert>
  	
  	<update id="updateLogoutDate" parameterType="kr.or.nextit.comm.model.EmployeeVo">
		UPDATE tb_login_info
			SET
				log_logoutdate = SYSDATE
			WHERE
				log_idx = (
							SELECT MAX(log_idx)
							FROM tb_login_info
							WHERE emp_id = #{empId}
						  )
  	</update>
	
</mapper>



























