<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- http://www.mybatis.org/mybatis-3/ko/getting-started.html -->
<configuration>

	<!-- // ;스프링-마이바티스 기본 세팅스 -->
	<!-- http://www.mybatis.org/mybatis-3/ko/configuration.html 'settings' 참고 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="callSettersOnNulls" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

</configuration>